<h2>Alerts <span class="glyphicon glyphicon-warning-sign"></span></h2>
<p class="description">alerts appear on top of the page on all pages when active is set to "true"</p>
<table class="table-style1">
  <thead>
    <tr>
      <td>message</td>
      <td>active</td>
      <td>last edited</td>
      <td colspan="2"></td>
    </tr>
  </thead>
  <tbody>
    <% if @alert.present? %>
      <% @alert.each do |alert| %>
      <tr>
        <td><%= alert.message %></td>
        <td><%= alert.show %></td>
        <td width='200px'><%= alert.updated_at.strftime("%a %l:%M%P %b %d, %Y")%></td>
        <td><%= link_to 'edit', edit_alert_path(alert) %></td>
        <td><%= link_to 'delete', alert_path(alert), class: 'del', method: :delete, data: { confirm: 'are you sure you want to delete?'}, class: 'del' %></td>
      </tr>
      <% end %>
    <% else %>
      <tr>
        <td>no alerts</td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '+ new alert', new_alert_path %>
