<div class="testimonials">
    <div class="wrapper">
        <div class="text-carousel">
            <div>
                <%= image_tag "quote.svg", :class => "big-quote" %>
                    <p>I believe my purpose in life has been to serve children and adults with special needs and I am happy doing what I love.</p>
                    <p class="name"> - Ms. Anita</p>
                </div>
                <div>
                    <%= image_tag "quote.svg", :class => "big-quote" %>
                    <p>PTC believes in being firm but loving.</p>
                    <p class="name"> - Ms. Sharon</p>
                </div>
                <div>
                    <%= image_tag "quote.svg", :class => "big-quote" %>
                    <p>Ms. Anita told me I could go back to work because she would never call me to pick up my child because she was misbehaving and she didn't lie!</p>
                    <p class="name"> - Parent</p>
                </div>
                <div>
                    <%= image_tag "quote.svg", :class => "big-quote" %>
                    <p>When I walk into the building I cannot believe how orderly everything is and all the students/adults are working quietly!</p>
                    <p class="name"> - ISD Employee</p>
                </div>
                <div>
                    <%= image_tag "quote.svg", :class => "big-quote" %>
                    <p>The day hab is top notch and provides many activities for the adults. All of my clients are very happy.</p>
                    <p class="name"> - Case Manager</p>
                </div>
                <div>
                    <%= image_tag "quote.svg", :class => "big-quote" %>
                    <p>My grandson has finally been successful in his program and I am already working on him staying in the Day Hab program after he graduates.</p>
                    <p class="name"> - Grand Parent</p>
                </div>
                <div>
                    <%= image_tag "quote.svg", :class => "big-quote" %>
                    <p>Even if I didn’t have any clients placed here, I would still come and visit because I love the program and the staff are great.</p>
                    <p class="name"> - Guardian</p>
            </div>
        </div>
    </div>
</div>
