   <div class="image-carousel">
        <div id="photo-11">
            <div class="caption">
                <span>Promote positive changes in behavior</span>
            </div>
        </div>
        <div id="photo-22">
            <div class="caption">
                <span>Teach new adaptive behavior skills</span>
            </div>
        </div>
        <div id="photo-33">
            <div class="caption">
                <span>Challenge clients to learn the skills they need to return to the community</span>
            </div>
        </div>
    </div>

    <div id="about" class="about">
        <div>
            <h1>ABOUT US</h1>
                <p>Providence T Center (PTC) was established in 1997 and licensed by TEA as a nonpublic day school for special needs students, ages 6-22. The students served require a smaller school setting, with a low staff to student ratio and is highly structured. The staff at PTC are highly trained in preventing and managing behaviors, especially aggressive behaviors toward self, others or property. In 2002, a day hab component was added to provide a continuum of services into adulthood as well as support for non-instructional days for students that need year round services. PTC offers services to students and adults with the following diagnosis- Autism, Intellectual Disability, Multiply Handicapped, Auditory Impairment, Visual Impairment and some forms of Emotional Disturbance.</p>


                <p>PTC is a privately owned business with Anita M. Venditti as sole owner and director of the facility. Ms. Venditti has well over 40 years experience working with the special needs population. In addition, Ms. Venditti has a B.S. in Education with Special Education (Multiply Handicapped, Autism) as a specialty, as well as a Master in Education with Autism and Emotional Disturbance as a specialty. Ms. Venditti also has an advanced certification in Instructional Supervision. Sharon K. Macias has been employed at PTC since it first opened in 1997 and is Program Supervisor. Ms. Macias has a BA in Education with 27 years of experience in the field. Dr. Rafael Guerrero is the Consulting Psychiatrist on staff and has worked at PTC since 2006 with extensive experience in the field.</p>
                
                <p>Please visit both of our <a href="Resources/broch.pdf">brochures</a> for more information or contact Anita or Sharon at (281)208-1117.<p>
        </div>    
    </div>

    <div class="testimonials">
        <div class="wrapper">
            <div class="text-carousel">
                <div>
                    <%= image_tag "quote.svg", :class => "big-quote" %>
                        <p>I believe my purpose in life has been to serve children and adults with special needs and I am happy doing what I love.</p> 
                        <p class="name"> - Ms. Anita</p>
                    </div>
                    <div>
                        <%= image_tag "quote.svg", :class => "big-quote" %>
                        <p>PTC believes in being firm but loving.</p>
                        <p class="name"> - Ms. Sharon</p>
                    </div>
                    <div>
                        <%= image_tag "quote.svg", :class => "big-quote" %>
                        <p>Ms. Anita told me I could go back to work because she would never call me to pick up my child because she was misbehaving and she didn't lie!</p>
                        <p class="name"> - Parent</p>
                    </div>
                    <div>
                        <%= image_tag "quote.svg", :class => "big-quote" %>
                        <p>When I walk into the building I cannot believe how orderly everything is and all the students/adults are working quietly!</p>
                        <p class="name"> - ISD Employee</p>
                    </div>
                    <div>
                        <%= image_tag "quote.svg", :class => "big-quote" %>
                        <p>The day hab is top notch and provides many activities for the adults. All of my clients are very happy.</p> 
                        <p class="name"> - Case Manager</p>
                    </div>
                    <div>
                        <%= image_tag "quote.svg", :class => "big-quote" %>
                        <p>My grandson has finally been successful in his program and I am already working on him staying in the Day Hab program after he graduates.</p>
                        <p class="name"> - Grand Parent</p>
                    </div>
                    <div>
                        <%= image_tag "quote.svg", :class => "big-quote" %>
                        <p>Even if I didn’t have any clients placed here, I would still come and visit because I love the program and the staff are great.</p>
                        <p class="name"> - Guardian</p>
                </div>
            </div>
        </div>    
    </div>

    <div id="service" class="services">
        <div>
            <h1>OUR SERVICES</h1>
            <ul>
                <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Education</li>
                <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Extended School Year</li>
                <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>State and District Assessment Administration</li>
                <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Day Hab</li>
                <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Behavior Management</li>
                <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Year Round Program</li>
                <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Non-Instructional Days Support</li>                    <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Psychiatric Consultation and Medication Management</li>
                <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Training and Staff Support During Reintegration</li>
            </ul>
            </div>
        </div>
    </div>