<div class="parent-dashboard">
  <div class="container">
    <div>
      <h2>Anouncements <span class="glyphicon glyphicon-bullhorn"></span></h2>
      <table class="table-style1 anouncements-table">
        <tbody>
          <% if @post.present? %>
            <% @post.each do |post| %>
            <tr>
              <td><%= post.body %></td>
              <td><%= post.created_at.strftime("%a %l:%M%P %b %d, %Y")%></td>
            </tr>
            <% end %>
          <% else %>
            <tr>
              <td>new anouncements will appear here</td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <h2>Documents <span class="glyphicon glyphicon-folder-open"></span></h2>
      <table class="table-style1">
        <tbody>
          <% if @documents.present? %>
            <% @documents.each do |document| %>
            <tr>
              <td class="doc-name"><%= document.name %></td>
              <td><%= document.doc_file_name %></td>
              <td><%= link_to 'view/download', document.doc.url %></td>
            </tr>
            <% end %>
          <% else %>
            <tr>
              <td>no documents</td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
