<!DOCTYPE html>
<html>
<head>
  <title>Providence Treatment Center</title>
  <%= render 'favicon' %>

   <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!--  slick slider -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/flexslider.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/jquery.flexslider.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  script
  <%= csrf_meta_tags %>
   <!-- google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:700,300' rel='stylesheet' type='text/css'>
    <meta charset="utf-8"/>
</head>
<body>

  <% if @alerts %>
    <% @alerts.each do |alert| %>
      <% if alert.show == true %>
        <div class="alerts">
          <p><%= alert.message %></p>
          <p id="date"><%= alert.updated_at.strftime("%a %l:%M%P %b %d, %Y") %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <%= render 'shared/navv' %>

  <%= yield %>

  <%= render 'shared/footer' %>




  <%= javascript_include_tag 'custom-scripts' %>
</body>
</html>
